<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1>Demos for cookies</h1>
<p>The cookie is set for expiring within 20 seconds!</p>
<p>Welcome it's <b>

<% if (firstvisit === true) { %>

    really

<% } else { %>

    not

<% } %>

    </b> your first visit!</p>

<p>You can also check this <a href="cookie.html">client side implementation of first visit</a></p>
</body>
</html>
